<nav class="navbar navbar-expand-md bg-light navbar-light" style="margin-bottom: 20px">
  <!--<div class="container-fluid">-->
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" href="#" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="'/cars'">Cars</a>
      </li>
    </ul>
  <!--</div>-->
</nav>
<div class="row">
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<div class="col-xs-8 col-xs-offset-2">-->
  <!--<input type="text" class="form-control" [(ngModel)]="carName">-->
  <!--<hr>-->
  <!--<button class="btn btn-success" (click)="addCar()">Add Car</button>-->
  <!--<button class="btn btn-primary" (click)="loadCars()">Load cars</button>-->
  <!--<hr>-->
  <!--<ul class="list-group">-->
    <!--<li class="list-group-item" *ngFor="let car of cars">-->
      <!--<span class="badge" [ngStyle]="{background: car.color}">{{ car.id }}</span>-->
      <!--{{ car.name }}-->
      <!--<button class="btn btn-sm btn-info" (click)="setColor(car)">Change</button>-->
      <!--<button class="btn btn-sm btn-danger" (click)="deleteCar(car)">Delete</button>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
