input.ng-invalid.ng-touched {
    border: 3px solid red;
}

input.ng-valid.ng-touched {
    border: 3px solid green;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  line-height: 0.75;
  border-radius: 0.2rem;
}
