<!--<div>-->
  <!--<a [routerLink]="['']">Home</a>-->
  <!--<a [routerLink]="['/luxury']">luxury</a>-->
  <!--&lt;!&ndash;<a [routerLink]="['/product', 1234]">Product Details</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a [routerLink]="[{outlets: {primary: 'home', aux: 'chat'}}]">Open Chat</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a [routerLink]="[{outlets: {aux: 'null'}}]">Close Chat</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<input type="button" value="Product Details" (click)="navigateToProductDetail()" />&ndash;&gt;-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<!--<router-outlet name="aux"></router-outlet>-->
<app-application></app-application>

