
<app-application></app-application>


<!--<div>-->
  <!--<a [routerLink]="['']">Home</a>-->
  <!--<a [routerLink]="['/luxury']">luxury</a>-->
  <!--&lt;!&ndash;<a [routerLink]="['/product', 1234]">Product Details</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a [routerLink]="[{outlets: {primary: 'home', aux: 'chat'}}]">Open Chat</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a [routerLink]="[{outlets: {aux: 'null'}}]">Close Chat</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<input type="button" value="Product Details" (click)="navigateToProductDetail()" />&ndash;&gt;-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<!--<router-outlet name="aux"></router-outlet>-->

<!--<hr>-->
<!--<div class="container">-->
  <!--<app-test-parent></app-test-parent>-->
<!--</div>-->


<!--<div class="container">-->
  <!--<div class="col-md-6">-->
    <!--<app-form></app-form>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
    <!--<app-reactive-form></app-reactive-form>-->
  <!--</div>-->
<!--</div>-->

