<!--<div class="row">-->
  <!--<div class="col-xs-12">-->
    <!--<app-add-car (carEmitter)="updateCarList($event)"></app-add-car>-->
    <!--<hr>-->
    <!--<div class="list-group">-->
      <!--<app-car class="list-group-item" -->
              <!--*ngFor="let carItem of cars" -->
              <!--[car]="carItem"-->
      <!--&gt;-->
        <!--<div class="alert alert-info">text</div>-->
      <!--</app-car>-->
      <!---->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-xs-12">-->
    <!--<app-for-test></app-for-test>-->
  <!--</div>-->
  <!--<div class="col-xs-12">-->
    <!--{{ getDate() | date: 'medium' }}-->
  <!--</div>-->
<!--</div>-->
