<h2>Home Page</h2>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium leo accumsan arcu mollis,
  non auctor nisi accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Morbi non tortor ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id dapibus sem.
  Suspendisse eleifend, massa ut accumsan vestibulum, ligula urna condimentum enim,
  nec efficitur tortor dui vitae purus. Duis sit amet maximus leo. Maecenas sit amet aliquam augue,
  vel pretium lacus. Nulla scelerisque maximus velit, nec ultrices sem bibendum lobortis. Cras euismod pulvinar lacinia.
  Proin convallis dolor pharetra, porta neque et, dignissim mauris.
  Sed accumsan gravida odio ac consequat. Nulla facilisi.
</p>
<button class="btn btn-primary" (click)="openCarsPage()">Open Cars Page</button>
