<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let e of entrances"
  >
    <table class="table-borderless table-sm">
      <tbody>
      <tr>
        <td class="td-1 align-top">
          <span class="badge badge-secondary">{{ e.number }}</span>
        </td>
      <td class="td-2">
        <div class="block">
          {{ e.description }}
        </div>
      </td>
      <td class="td-1 align-top">
        <button class="btn btn-xs primary">Изменить</button>
      </td>
    </tr>
    <tr>
      <td class="td-1"><img src="../../../assets/svgs/si-glyph-key-2.svg" class="glyph-icon"/>{{ e.domruKey }}</td>
      <td class="td-3">
        редактировалось: {{ e.lastUpdate }}
      </td>
    </tr>

    </tbody>
  </table>
</li>
</ul>



<!--<table class="table table-striped">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">#</th>-->
      <!--<th scope="col">First</th>-->
      <!--<th scope="col">Last</th>-->
      <!--<th scope="col">Handle</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--<tr *ngFor="let e of entrances">-->
       <!--<th scope="row">{{ e.number }}</th> -->
      <!--<td>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->
            <!--<span class="badge badge-secondary">-->
              <!--{{ e.number }}-->
            <!--</span>-->
            <!--<span class="text-left">-->
              <!--{{ e.description }}-->
            <!--</span>-->

            <!--<span style="font-size: 0.6rem">-->
              <!--{{ e.lastUpdate }}-->
            <!--</span>-->
          <!--</div>-->
          <!--<div class="col-sm-12">-->
            <!--<img src="../../../assets/svgs/si-glyph-key-2.svg" class="glyph-icon"/>{{ e.domruKey }}-->
          <!--</div>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</tbody>-->
  <!--<div style="padding-top: 1rem">-->
    <!--<button class="btn btn-primary" (click)="onBackClick()">Назад</button>-->
  <!--</div>-->
<!--</table>-->
